{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Comunicación Ambulancia-Hospital{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <h1>Sistema Comunicación</h1>
    <nav>
        <a href="{% url 'index' %}">Inicio</a> |
        <a href="{% url 'menu_paramedico' %}">Menú Paramédico</a> |
        <a href="{% url 'menu_hospital' %}">Menú Hospital</a>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>Comunicacion Ambulancia-Hospital — Prototipo</p>
</footer>
</body>
</html>
