{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container_index">

    {% if mensaje %}
    <div
        style="background-color:#d1e7dd; color:#0f5132; border:1px solid #badbcc; padding:10px 15px; border-radius:6px; margin-bottom:20px; text-align:center; font-weight:bold;">
        {{ mensaje }}
    </div>
    {% endif %}

    <h2>Bienvenido al Sistema de Comunicación Ambulancia-Hospital</h2>
    <p>Plataforma destinada a optimizar la transferencia de información entre equipos prehospitalarios y personal clínico. El sistema permite registrar pacientes, actualizar su condición en tiempo real, emitir alertas operativas y consultar el historial completo de acciones para apoyar la toma de decisiones médicas.</p>

    <div class="buttons_index">
        <a href="{% url 'mostrar_login' %}" class="btn">Iniciar sesión</a>
    </div>

    {% if request.session.cargoUsuario == 'Administrador' %}
    <div class="buttons_index" style="margin-top: 20px;">
        <a href="{% url 'menu_paramedico' %}" class="btn">Ir al Menú Paramédico</a>
        <a href="{% url 'menu_hospital' %}" class="btn">Ir al Menú Hospital</a>
    </div>
    {% endif %}

</div>
{% endblock %}
